	<!DOCTYPE html>
	<html lang="en">
	<head>
	  <title>Bootstrap Example</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <style>
		/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
		.row.content {height: 550px}
		
		/* Set gray background color and 100% height */
		.sidenav {
		  background-color: #f1f1f1;
		  height: 100%;
		}
			
		/* On small screens, set height to 'auto' for the grid */
		@media screen and (max-width: 767px) {
		  .row.content {height: auto;} 
		}
	  </style>
	  <script>
	  $(document).ready(function(){
		
		var api_base_url = 'http://127.0.0.1:5000'
		
		var load_sys_response = function(data, status){
			$(this).children('.cpu').text(['CPU:', data.cpu, '%'].join(''))
			$(this).children('.mem').text(['FREE MEM:', data.freemem, ' MB'].join(''))
			$(this).children('.progress').children('.progress-cpu').css('width', data.cpu+'%')
		}

		var load_service_status = function(data, status){
					 $(this).children('p').children('.status').text(data.status)
				}
	  	
	   	$('.start-stop').click(function(){
			$.get([api_base_url, $(this).parent().attr('hostname'),  $(this).parent().attr('servicename'), $(this).text()].join('/'))
		 })
		
		function poll(){
			$('.sys').each(function(){
				 $.get([api_base_url, $(this).attr('id'),'sys'].join('/'),
			                    load_sys_response.bind($(this)))
			})
			$('.service').each(function(){
		 		$.get([api_base_url, $(this).attr('hostname'),  $(this).attr('servicename'), 'status'].join('/'),
			       load_service_status.bind($(this)))
			})
		}

		setInterval(poll,5000)

	   })
	  </script>
	</head>
	<body>
		<nav class="navbar navbar-inverse visible-xs">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  <a class="navbar-brand" href="#">Hosts</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav">
				{% for host in machines %}
					<li><a href="#{{ host }}">{{ host }}</a></li>
				{% endfor %}
			  </ul>
			</div>
		  </div>
		</nav>
	
		<div class="container-fluid">
			<div class="row content">
				<div class="col-sm-3 sidenav hidden-xs">
			  		<h2>Hosts</h2>
			  		<ul class="nav nav-pills nav-stacked">
					{% for host in machines %}
						<li><a href="#{{ host }}">{{ host }}</a></li>
			  		{% endfor %}
					</ul><br>
				</div><br>
				<div class="col-sm-9" id="content">
				{% for hostname, services in machines.items() %}
					<div class="well sys" id="{{ hostname }}">
						    <h4>Host {{ hostname }} </h4>
			          		<p class="cpu">Cpu: </p>
					  		<div class="progress">
					    		<div class="progress-bar progress-cpu bg-success" role="progressbar" style="width: 50%" aria-valuenow="25"  aria-valuemin="0" aria-valuemax="100"></div>
					    	</div>
					  		<p class="mem">Mem: </p>
			      	</div>
			      	<div class="row">
			      	{% for service in services %}
			        	<div class="col-sm-3">
			          		<div class="well service" hostname="{{ hostname }}" servicename="{{ service }}">
			            		<h4>{{ service }}</h4>
								<p>status: 
									<b class="status"></b>
								</p>
								<button type="button" class="btn btn-danger start-stop">stop</button>
								<button type="button" class="btn btn-success start-stop">start</button>
					  		</div>
			        	</div>
			      	{% endfor %}
				  	</div>
			    {% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>

