	<!DOCTYPE html>
	<html lang="en">
	<head>
	  <title>Bootstrap Example</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{ urls.bootstrap_css }}">
	  <script src="{{ urls.jquery_js }}"></script>
	  <script src="{{ urls.bootstrap_js  }}"></script>
	  <style>
		/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
		.row.content {height: 550px}
		
		/* Set gray background color and 100% height */
		.sidenav {
		  background-color: #f1f1f1;
		  height: 100%;
		}
			
		/* On small screens, set height to 'auto' for the grid */
		@media screen and (max-width: 767px) {
		  .row.content {height: auto;} 
		}
	  </style>
	  <script>
	  $(document).ready(function(){
		var load_sys_response = function(data, status){
			$(this).children('.cpu').text(['CPU:', data.cpu, '%'].join(''))
			$(this).children('.mem').text(['MEM:', data.mem.percent, '%'].join(''))
			$(this).children('.progress').children('.progress-cpu').css('width', data.cpu+'%')
			$(this).children('.progress').children('.progress-mem').css('width', data.mem.percent+'%')
		}

		var load_ioc_response = function(data, status){
					 $(this).children('p').children('.status').text(data.status)
					 $(this).children('p').children('.proc-serv').text(data.active)
					 $(this).children('p').children('.proc-serv-file').text(data.load)
					 if(data.status == 'dead')
					 	$(this).children('button').addClass('btn-success').removeClass('btn-danger').text('start')
					 else
					 	$(this).children('button').removeClass('btn-success').addClass('btn-danger').text('stop')
				}
	  	
		$('.start-stop').click(function(){
			$.get(['http:/', $(this).parent().attr('remote-socket'), $(this).text(), $(this).parent().attr('ioc-name')].join('/'),
			       load_ioc_response.bind($(this).parent()))
		 })
		function poll(){
			$('.sys').each(function(){
				 $.get(['http:/', $(this).attr('remote-socket'),'sys'].join('/'),
			                    load_sys_response.bind($(this)))
			})
			$('.ioc').each(function(){
			
			})
			setTimeout(poll, 5000)
		}

		poll()

	   })
	  </script>
	</head>
	<body>

	<nav class="navbar navbar-inverse visible-xs">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		  <a class="navbar-brand" href="#">Logo</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Dashboard</a></li>
			<li><a href="#">Age</a></li>
			<li><a href="#">Gender</a></li>
			<li><a href="#">Geo</a></li>
		  </ul>
		</div>
	  </div>
	</nav>

	<div class="container-fluid">
	  <div class="row content">
		<div class="col-sm-3 sidenav hidden-xs">
		  <h2>Logo</h2>
		  <ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#section1">Dashboard</a></li>
			<li><a href="#section2">Age</a></li>
			<li><a href="#section3">Gender</a></li>
			<li><a href="#section3">Geo</a></li>
		  </ul><br>
		</div>
		<br>
		
	<div class="col-sm-9" id="content">
	    {% for machine in machines %}
		<div class="well sys" remote-socket="{{ machine.remote_socket }}">
		  <h4>Host </h4>
          <p class="cpu">Cpu: {{ machine.sys.cpu }} %</p>
		  <div class="progress">
		    <div class="progress-bar progress-cpu bg-success" role="progressbar" style="width: {{ machine.sys.cpu }}%" aria-valuenow="25"  aria-valuemin="0" aria-valuemax="100"></div>
		    </div>
		  <p class="mem">Mem: {{ machine.sys.mem.percent }} %</p>
		  <div class="progress">
  		    <div class="progress-bar progress-mem bg-info" role="progressbar" style="width: {{ machine.sys.mem.percent }}%" aria-valuenow="25" {{ machine.sys.mem.percent }} aria-valuemin="0" aria-valuemax="100"></div>
  		  </div>
      </div>
      <div class="row" value="">
      {% for ioc in machine.iocs.response %}
        <div class="col-sm-3 ioc">
          <div class="well ioc" ioc-name="{{ ioc.name }}" remote-socket="{{ machine.remote_socket }}">
            <h4>{{ ioc.name }}</h4>
			<p>status: <b class="status">{{ ioc.status }}</b></p>
			<p>procServ: <b class="proc-serv">{{ ioc.active }}</b></p>
            <p>.service file: <b class="proc-serv-file">{{ ioc.load }}</b></p>
	   		{% if ioc.status == 'running' %}
				<button type="button" class="btn btn-danger start-stop">stop</button>
		  	{% else %}
				<button type="button" class="btn btn-success start-stop">start</button>
			{% endif %}
		  </div>
        </div>
      {% endfor %}
	  </div>
    {% endfor %}
	</div>
  </div>
</div>

</body>
</html>

